@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html {
  background: hsl(0, 0%, 0%);
  height: 100%;
  overflow: hidden;
  font-family: "VT323", monospace;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loading-message {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  text-align: center;
}